<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6E8E74358B2D362A79AD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EE4C32DD445126F34C96AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C62FC66A18D62D23C6A2D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671D95F922E7B3DDE5D17F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EFD304F9FCD93841A8BC7BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F61BD25682BC2300F5F07CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B421B4540A01D425DC565BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CE63E7EAB47FBB8E53A5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B331C4A11A051F0991A79E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29E49FA60D451CC11E35FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95346AFF19344A32E1A9C93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
